{% extends 'Tcrud/crud.html' %}
{% load static %}
{% block contenido %}

<!-- table marca-->
<div class="container">
  <h1>Listado de marcas</h1>

  <a href="{%  url 'agreMarca' %}" type="button" class="btn btn-primary ">Añadir Marca</a>
  <br>
  <br>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre Marca</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ve in marcas %}
        <tr>
          <td>{{ve.nombreMarca}}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}