{% extends 'Tcrud/crud.html' %}
{% load static %}


{% block contenido %}


<script>
  function eliminarProducto(SKU) {
      Swal.fire({
          title: "¿Estás seguro?",
          text: "Esta acción no se puede deshacer",
          icon: "question",
          showCancelButton: true,
          cancelButtonText: "No, Cancelar",
          confirmButtonText: "Sí, Eliminar",
          reverseButtons: true,
          confirmButtonColor: "#dc3545"
      }).then(function(result) {
          if (result.isConfirmed) {
            window.location.href = "/crud/Productos/eliminar/" + SKU + "/";


          }
      });
  }
</script>

    <div class="container">
        <h1>Listado de Productos</h1>
          <a href="{%  url 'agreProducto' %}" type="button" class="btn btn-primary ">Añadir Producto</a>
        <br>
        <br>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">SKU</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Stock</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% load humanize %}
              {% for ve in productos %}
              <tr>
                <td><img src="{{ ve.imagen.url }}" class="img-fluid" style="height:70px;"></td>
                <td>{{ ve.SKU }}</td>
                <td>{{ ve.nombreProducto }}</td>
                <td>${{ ve.precio | intcomma }}</td>
                <td>{{ ve.categoria }}</td>
                <td>{{ ve.stock }}</td>
                <td>
                  <a href="{% url 'Mod_Producto' ve.SKU %}" class="btn btn-info btn-sm">Modificar</a>
                  <a href="#" onclick="eliminarProducto({{ ve.SKU }})" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

{% endblock %}