/* ====================== General ==================== */

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
}

label:after {
    content: "" !important;
}
/* ====================== Header ==================== */

header {
    width: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
}


/* ====================== Inicio de Sesión Enlaces ==================== */

.sesion {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    margin-left: 50px;
    list-style: none;
    margin-right: 20px;

}

.sesion li {
    margin-left: 150px;

}

/* ====================== NavBar ==================== */

ul,
ol {
    list-style: none;


}

.nav {
    display: flex;
    justify-content: center;
}

.nav>li {
    float: left;
}

.nav li a {
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
    /* padding:10px 12px;  */
    display: block;
}

.nav li a:hover {
    background-color: #810404;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color: #fff;
    padding: 0px 0px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
    z-index: 1;
}

.nav li ul li ul {
    right: -200px;
    top: 0px;
}



/* ====================== carrito icono ==================== */

#cart {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

#cart img {
    height: 27px;
    width: 27px;
}

#cart-quantity {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.7em;
}

.mt-60 {
    margin-top: 13px;
}

.cart-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


/* ====================== Carrusel ==================== */

.slider {
    width: 90%;
    margin: auto;
    color: black
}

/* ====================== Contendor Anuncio Header ==================== */

.contenedor-anuncio {
    background-color: #810404;
    color: white;
    width: 100%;
    height: 25px;
    text-align: center;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);

}


.contenedor-logo {
    text-align: center;
}


/* ====================== Contendor Principal ==================== */

.contenido {
    background-color: #fff;
    width: 90%;
    margin: auto;
}

/* ====================== Tarjeta Productos ==================== */


.producto .card{
    height: 350px;
    width:100%;
}

.producto .body-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
}

.producto .body-card img {
    max-height: 200px;
}

/* ====================== Página Detalle Producto ==================== */


.detalle_producto img {
    width: 70%; 
    height: auto; 
    display: block; 
    margin: 0 auto
  }

  .detalle_producto .btn {
    margin-bottom: 10px;
    background-color: #810404;
    border-color: #810404;
}

  .detalle_producto .hr {

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ancho del hr */

  }


/* ====================== Sellos de Calidad ==================== */

.sellos-de-calidad {
    background-color: #cfcfcf;
    border-radius: 10px;
    height: 150px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom:30px;
}

.sellos-de-calidad h7 {
    font-style: italic;
}

.sellos-de-calidad:hover {
    background-color: #d6d6d6;
}


/* ====================== Contenedor de Producto ==================== */

.producto img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.producto .card {
    margin-bottom: 20px;
}


.producto .btn {
    margin-bottom: 10px;
    background-color: #810404;
    border-color: #810404;

}

.producto .btn:hover {
    margin-bottom: 10px;
    background-color: #a32727;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 2px #810404;


}

.producto .btn:visited,
.producto .btn:focus,
.producto .btn:active,
.producto .btn.active {
    margin-bottom: 10px;
    background-color: #a32727;
    border-color: #810404;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 2px #810404;
}

/* ====================== Footer ==================== */


footer {
    color: black;
    width: 100%;
    margin: auto;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

footer h3 {
    margin-bottom: 10px;
    margin: auto;
    margin-bottom: -10px;
    font-family: Comic Sans MS;

}

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}


footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

footer a:link {
    color: black;
    text-decoration: none;
}

footer a:visited {
    color: black;
}

footer a:hover {

    color: #810404;
}

footer a:active {
    text-decoration: none;
}

.footer2 {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ====================== carrito detalle ==================== */
.table-shopping-cart.table img {
    max-height: 80px;
}

.input-spinner {
    width: 125px;
    flex-wrap: nowrap;
    display: inline-flex;
    vertical-align: middle;
  }
  .input-spinner input.form-control {
    text-align: center;
    max-width: 46px;
    font-weight: bold;
    flex-basis: 46px;
    border-color: #e4e4e4;
    flex-grow: 0;
  }
  .input-spinner .btn {
    width: 42px;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  

/* ====================== paginador ==================== */

.pagination .page-link {
    color: #810404;
}

.pagination .page-item.active .page-link {
    background-color: #810404;
    border-color: #810404;
}







  