<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- table productos-->
      <div class="container">
        <h1>Listado de Productos</h1>
        <li>
          <a href="{%  url 'agreProducto' %}"> Usuarios</a>
        </li>
        <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">username</th>
                  <th scope="col">nombre</th>
                  <th scope="col">precio</th>
                  <th scope="col">categoria</th>
                  <th scope="col">stock</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
                <tbody>
                  {% for ve in contex %}
                  <tr>
                    <td>{{ve.username}}</td>
                    <td>{{ve.nombre}}</td>
                    <td>{{ve.precio}}</td>
                    <td>{{ve.categoria}}</td>
                    <td>{{ve.stock}}</td>


                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>