{% extends 'app/admini/baseadmin.html' %}
{% load static %}
{% block contenido %}
<h2>Usuarios</h2>
<ul>
  <li><a href="{%url 'productosList' %}"> Productos</a></li>
  <li><a href="{%url 'categoriasList' %}"> Categorias</a></li>
  <li><a href="{%url 'subcateList' %}"> Subcategorias</a></li>
  <li><a href="{%url 'MarcaList' %}"> Marcas</a></li>
  <li><a href="{%url 'tipoinsList' %}"> Tipo de instrumento</a></li>
  <li><a href="{% url 'vistaAdmin' %}">ver usuarios</a></li>

</ul>



{% endblock %}