{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

{% load crispy_forms_tags %}


<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
      <h3 style="text-align:center; margin-top:10px;">Registrate</h3>
      <div class="card-body">
        <form action="" method="post" id="formulario">
          {% csrf_token %}
          <div class="form-group">
            {{ form|crispy }}
          </div>
          <br>
          <input type="submit" value="Registrarse" class="btn btn-success" id="enviar">
          <br>
          <a href="{%url 'home'%}">Ir a la Página Principal</a>
          <br>
          <br>
          <div id="error" class="alert alert-danger" role="alert"></div>
        </form>
        <div class="alert alert-success" role="alert">{{mensaje}}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}