{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<div class="contenido">
    <div class="slider">
        <div>
            <img src="img/banner/banner1.jpg" alt="">
        </div>
        <div>
            <img src="img/banner/banner2.png" alt="">
        </div>
        <div>
            <img src="img/banner/banner2.png" alt="">
        </div>
    </div>


</div>


<div class="row">
    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>

    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>

    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>
    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>

    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>

    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>
    <div class="col-xs col-sm-6 col-md col-lg-3">
        <div class="producto">
            <div class="card">
                <div class="body-card">
                    <div class="text-center"><img src="{% static 'img/productos/guitarra.png' %}" class="img-fluid">
                    </div>
                </div>
                <h7 class="text-center">Marca</h7>
                <h4 class="text-center">Guitarra</h4>
                <h5 class="text-center ">$60.000 </h6>
                </h5>
                <!-- Boton Ver Producto -->
                <div class="text-center"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                        data-bs-target="#{{ p.idProducto}}">
                        Ver Producto
                    </button></div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs col-sm-6 col-md col-lg-4">

        <div class="sellos-de-calidad">
            <img src="{% static 'img/garantia.png' %}" class="img-fluid">
            <br>
            <h5>Garantia</h5>
            <h7>Todos nuestros productos cuentan con garantia.</h7>
        </div>
    </div>

    <div class="col-xs col-sm-6 col-md col-lg-4">
        <div class="sellos-de-calidad">
            <img src="{% static 'img/envios.png' %}" class="img-fluid">
            <br>
            <h5>Envíos a todo Chile</h5>
            <h7>Contamos con envios a todo el territorio nacional.</h7>
        </div>
    </div>
    <div class="col-xs col-sm-6 col-md col-lg-4">
        <div class="sellos-de-calidad">
            <img src="{% static 'img/tienda.png' %}" class="img-fluid">
            <br>
            <h5>Tienda Fisica</h5>
            <h7>Contamos con distintas sucrusales a lo largo de todo santiago.</h7>
        </div>
    </div>

</div>

{% endblock %}