{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<section>
<div class="container">
    <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Productos que va a comprar:</h5>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
              </tr>
            </thead>
     
          </table>
          <div class="container">
            <form action="{% url 'orders/place_order//' %}" method="POST">{% csrf_token %}
              <input type="hidden" name="token_ws" value="{{ response.token }}">

              <h3 class="mt-4">Total:</h3>
              <h3>$ {{ total }}</h3>
              <input type="submit" class="btn btn-primary" value="Pagar">
            </form>
          </div>
        </div>
      </div>
    </div>
</section>



{% endblock %}