{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}


{% load humanize %}

<div class="card">
  <div class="row no-gutters">
    <aside class="col-md-6">
      <article class="detalle_producto">
        <div>
          <img src="{{ producto.imagen.url}}" class="img-fluid">
        </div> <!-- img-big-wrap.// -->

      </article> <!-- gallery-wrap .end// -->
    </aside>
    <main class="col-md-6 border-left" style="padding:20px;">
      <article class="detalle_producto " >
        <h2 class="title">{{producto.nombreProducto}}</h2>
        <div class="mb-3">
          <var class="price h4">${{producto.precio | intcomma}}</var>


        </div>
        <div style="display: inline-block;">
          <h5 style="display: inline; margin: 0;">
            </h5tyle>Marca:</h5> {{producto.marca}}
        </div>
        <br>
        <br>
        <div>
          <h2>Descripción del Producto</h2>
        </div>
        <hr>
        <div>{{producto.descripcion}}</div>

        <br>
        {% if producto.stock > 0 %}
        
        <div style="display: inline-block;">
          <h5 style="display: inline; margin: 0; color:red;">
          </h5tyle>Stock: {{producto.stock}} </h5>
          {% else %}
          <div style="display: inline-block;">
          <h5 style="display: inline; margin: 0; color:red;">
          {% endif %}
        </div>
        <br>
        <br>
        {% if producto.stock <= 0 %}
        <h5>Producto fuera de stock</h5>
        {% else %}
        <div> <a href="{% url 'add_cart' producto.SKU %}">
            <button class="btn btn-primary btn-lg" type="button">Añadir al carrito</button></div></a>
        {% endif %}
      </article>
    </main>

  </div>



  {% endblock %}